
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
    background-color:#c53d43;
    font-family:'HGP行書体', serif;
    color:#fff;
}
h1{
    font-family:'HGP行書体', serif;
    color: #000;
  font-size: 40px !important;
  text-shadow: 1px 1px 0 #e9e4d4, -1px 1px 0 #e9e4d4, 1px -1px 0 #e9e4d4, -1px -1px 0 #e9e4d4;
}

.title-border {
    display: flex;
    align-items: center;
    }
    .title-border:before,
    .title-border:after {
    border-top: 5px solid;
    content: "";
    flex-grow: 2;
    }
    .title-border:before {
    margin-right: 1rem;
    color: #e9e4d4;
    }
    .title-border:after {
    margin-left: 1rem;
    color: #e9e4d4;
    }

em.sample1{
    font-size:24px;
}
blockquote{
    border: solid 2px;
    background-color: #2018ff;
    width: 400px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 15px;
}
.btn {
    font-family:'HGP行書体', serif;
    border-radius: 5px;
    background-color: #dccb18;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }

  
